header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
}

.links{
    display: none;
}

.logo{
    color: #fff;
    font-size: 1.5em;
}

.name span{
    color: #fff;
    text-decoration: dashed;
}

.name{
    transition: opacity .3s ease, transform .3s ease;
}

.name.hideName{
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
}

.menuBtn{
    background: none;
    border: none;
    cursor: pointer;
}

img.active{
    visibility: visible;
    width: 50px;
}

img.inactive{
    visibility: hidden;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    opacity: 0;
    pointer-events: none;

    transition: opacity .3s ease;
}

.overlay.active{
    opacity: 1;
    pointer-events: auto;
}

aside{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    width: 50vw;
    height: 100dvh;

    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;

    transition: transform .4s ease, opacity .3s ease;
}

aside.active{
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;

    display: flex;
    flex-flow: column;
    gap: 30px;
    padding-left: 20px;
}

aside .menuBtn{
    margin-top: 60px;
    width: 50px;
}

aside a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

aside a:first-child{
    margin-top: 100px;
}
