header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
}

.links{
    display: none;
}

.name h1{
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.name span{
    color: #fff;
}

.name{
    transition: opacity .3s ease, transform .3s ease;
}

.name.hideName{
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
}

.menuBtn{
    background: none;
    border: none;
    cursor: pointer;
}

img.active{
    visibility: visible;
    width: 50px;
}

img.inactive{
    visibility: hidden;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    opacity: 0;
    pointer-events: none;

    transition: opacity .3s ease;
}

.overlay.active{
    opacity: 1;
    pointer-events: auto;
}

aside{
    background-color: rgba(127, 246, 255, 0.35);
    backdrop-filter: blur(10px);

    width: 50vw;
    height: 100dvh;

    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;

    transition: transform .4s ease, opacity .3s ease;
}

aside.active{
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;

    display: flex;
    flex-flow: column;
    gap: 30px;
    padding-left: 20px;
}

aside .menuBtn{
    margin-top: 60px;
    width: 50px;
}

aside a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

aside a:first-child{
    margin-top: 100px;
}

@media screen and (min-width:768px) {
    header{
        padding: 60px 100px;
    }

    .name h1{
        font-size: 2em;
    }

    .name span{
        font-size: 1.5em;
    }

    aside a{
        font-size: 2em;
    }
}

@media screen and (min-width:992px) {

    header{
        justify-content: space-around;
    }

    .menuBtn{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    .links{
        display: flex;
        gap: 50px;
    }

    .links a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5em;
        transition: color .3s ease;
        position: relative;
    }

    .links a:hover{
        color:#07eeff;
    }

    .links a:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;

        width: 100%;
        height: 2px;
        background-color: #07eeff;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform .3s ease;
    }

    .links a:hover::after{
        transform: scaleX(1);
    }
}