footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

footer p{
    color: white;
}

footer p a{
    text-decoration: none;
    color: #7ff7ff;
    font-size: 20px;
}