@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    background-color: #1c1b2a;
    background-image: linear-gradient(to bottom, #1c1b2a, #2a2840);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#sobre .name{
    color: #7FF7FF;
    font-size: 48px;
}

#sobre span{
    color: #bebebe;
    font-size: 18px;
}

#sobre a{
    background: #7ff6ffb6;
    text-decoration: none;
    width: 150px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: all .5s ease;
    display: block;
    font-weight: bold;
    color: #1c1b2a;
    font-size: 15px;
}

#sobre a:hover{
    transform: scale(1.03);
    background: #7FF7FF;
}


#sobre img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#sobre-txt{
    margin-top: 50px;
    text-align: justify;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#sobre-txt article{
    max-width: 1000px;
}

#sobre-txt p{
    margin-top: 10px;
}

section h2{
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}

#sobre-txt p{
    width: 100%;
    color: #bebebe;
    max-width: 1200px;
}

#habilidades{
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.container-habilidades{
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    margin-top: 20px;
}

.container-habilidades div{
    color: #7ff7ff;
    background-color: #1c1b2a80;
    padding: 10px 20px;
    border-bottom: 3px solid #7ff7ff;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 10px rgba(127, 246, 255, 0.2);
    text-align: center;
    transition: transform .3s ease;
}

.container-habilidades div:hover{
    transform: scale(1.05);
}

.container-habilidades div img{
    background-color: none;
    width: 50px;
}

section#projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-flow: column;
}

.container-projetos{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-projetos div{
    height: 400px;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(127, 246, 255, 0.2);
    opacity: 70%;
    transition: all .3s ease;
}

.container-projetos div:hover{
    opacity: 100%;
    transform: scale(1.03);
}

.wedding{
    width: 500px;
    background: url('assets/images/wedding-bg.jpeg');
    background-position: center;
}

.primeflix{
    width: 500px;
    background: url('assets/images/primeflix-bg.jpeg');
    background-position: top;
}

section#contatos{
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.container-contatos{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-contatos a{
    text-decoration: none;
    text-align: center;
    color: #bebebe;

}

.container-contatos div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1b2a80;
    padding: 20px;
    border-radius: 10px;
    transition: transform .3s ease;
}

.container-contatos div:hover{
    transform: scale(1.1);
}


.container-contatos div img{
    width: 60px;
    height: 60px;
}