@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background:
    radial-gradient(
      circle at 75% 50%,
      rgba(127, 247, 255, 0.08) 0%,
      rgba(127, 247, 255, 0.03) 25%,
      transparent 55%
    ),
    linear-gradient(90deg, #0b0a14 0%, #141321 30%, #1c1b2a 60%, #0f1f2f 100%);

  min-height: 100vh;
  scroll-behavior: smooth;
  scrollbar-color: #7ff7ff #0b0a14;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0a14;
}

::-webkit-scrollbar-thumb {
  background: #7ff7ff;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7ff7ff99;
}
